{% extends 'blog/base.html' %}
{% block content %}
<style>
    body{
        background-color: rgba(255, 255, 255, 0.884);
    }
    th,td{
        background-color: whitesmoke;
    }
    h1{
    text-shadow: -3px -3px 6px #00000060;

    }
</style>
<div class="row d-flex justify-content-center">
<div class="col-9">
<h1 class='my-4' style="text-align: center;">My Dashboard</h1>
    <legend class="border-bottom mb-4">NGOs you have donated</legend>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Receiver</th>
            <th scope="col">Category</th>
            <th scope="col">Date</th>
            <th scope="col">Sender</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
        {% for donation in donations %}
          <tr>
            <th scope="row">{{ donation.receiver }}</th>
            <td>{{ donation.category }}</td>
            <td>{{ donation.date|date:"F d, Y" }}</td>
            <td>{{ donation.donor }}</td>
            <td>{{ donation.quantity }}</td>
          </tr>
        {% endfor %}  
        </tbody>
      </table>
    </div>

    <legend class="border-bottom mb-4">Donations you have recieved</legend>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Receiver</th>
            <th scope="col">Category</th>
            <th scope="col">Date</th>
            <th scope="col">Sender</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
        {% for donation in recieved %}
          <tr>
            <th scope="row">{{ donation.receiver }}</th>
            <td>{{ donation.category }}</td>
            <td>{{ donation.date|date:"F d, Y" }}</td>
            <td>{{ donation.donor }}</td>
            <td>{{ donation.quantity }}</td>
          </tr>
        {% endfor %}  
        </tbody>
      </table>
    </div>

    <div class="col-3">
        <img style="width: 20vw; height: 60vh; padding-top: 15vh;" src="../../../media/donate.png"/>
    </div>
</div>
{% endblock content%}