{% extends 'blog/base.html' %}
{% block content %}
<style>
    .col-md-8, .col-md-4 {
    margin-top: 20px;
}
    article.media.content-section, .content-section {
    border-radius: 20px;
    box-shadow: -7px -7px 14px #00000060;
}
h1{
    margin-bottom: 20px;
    text-shadow: -3px -3px 6px #00000060;
}
#post-list{order: 2;}
#category-list{order: 1;}
</style>


    <div class="row">

        <div class="col-md-8" id="post-list">
            <h1 style="text-align: center;">Donation Requests</h1>
            {% for post in posts %}
                <article class="media content-section">
                <img class = "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                    <a class="mr-2" href="{% url 'profile-view' post.author.profile.id %}">{{ post.author }}</a>
                    <a class="mr-2" href="{% url 'category' post.category %}">-{{ post.category }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                </div>
                </article>
            {% endfor %}
        </div>
        <div class="col-md-4" id="category-list">
            <div class="content-section">
                <h3>Product Requirements</h3>
                <p class='text-muted'>Requirements you can donate to.
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a href="/category/Medicine/">Medicines</li></a>
                    <li class="list-group-item list-group-item-light"><a href="/category/Ventilator/">Ventilator</li></a>
                    <li class="list-group-item list-group-item-light"><a href="/category/PPE%20Kit/">PPE Kit</li></a>
                    <li class="list-group-item list-group-item-light"><a href="/category/Bed/">Beds</li></a>
                    <li class="list-group-item list-group-item-light"><a href="/category/Others/">Others</li></a>
                </ul>
                </p>
            </div>
         </div>
    </div>
{% endblock content%}