{% extends 'blog/base.html' %}
{% block content %}
<style>
    .col-md-8, .col-md-4 {
    margin-top: 20px;
}
    article.media.content-section, .content-section {
    border-radius: 20px;
    box-shadow: -7px -7px 14px #00000060;
}
h1{
    margin-top: 100px;
    margin-bottom: 20px;
    text-shadow: -3px -3px 6px #00000060;
}
</style>
<h1>Confirm Delete?</h1>
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Delete Post</legend>
                    <h2>Are you sure you want to delete the post : "{{ object.title }}"</h2>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                    <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
                </div>
            </form>
        </div>
{% endblock content%}