{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
.content-section {
    margin-top: 120px;
    border-radius: 20px;
    box-shadow: -7px -7px 14px #00000060;
}
</style>  
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                    <small class="text-muted ml-2"><a href="{% url 'password-reset' %}">Forgot Password?</a></small>
                </div>
            </form>
            <div class = "border-top pt-3">
                <small class="text-muted"> Don't have an account? <a class="ml-2" href="{% url 'register' %}">Sign up here</a></small>
            </div>
        </div>
{% endblock content%}