{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  .content-section{
    border-radius: 20px;
    box-shadow: -7px -7px 14px #00000060;
  }
  h1{
    margin-top: 100px;
    margin-bottom: 20px;
    text-shadow: -3px -3px 6px #00000060;
}
</style>
<h1>View Profile</h1>
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ object.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ object.user }}</h2>
          <p class="text-secondary">{{ object.user.email }}</p>
          {% if object.user.ngo == True %}
            <p class="text-secondary">NGO</p>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock content %}